<app-action-popup [(featureChanged)]="featureChanged"
                  (messageChanged)="messageChanged"
                  [header]="header">
  <form class="ui form" #f="ngForm">
    <div class="ui action fluid input">
      <input type="text"
             placeholder="Name"
             name="name"
             [(ngModel)]="description.name"
             #name="ngModel"
             required>
      <div (click)="update(name.value)" class="ui blue submit button"
           [ngClass]="{'disabled': !f.form.valid}">Change
      </div>
    </div>
  </form>
</app-action-popup>
