<div class="ui container">
  <app-header [loadedFeature]="loadedFeature"
              (featureSelected)="onNavigate($event)"
              [isNodeSelected]="isNodeSelected() && !nodeComponent.isLoading"
              [destNode]="destinationComponent"
  >
  </app-header>
  <p></p>
  <app-popup-message [message]="message">

  </app-popup-message>
  <div class="ui horizontal divider">
    PATH
  </div>
  <app-node-path [node]="nodeComponent"></app-node-path>
  <div>
    <app-add-node
      [nodeComponent]="nodeComponent"
      [header]="'Add child'"
      *ngIf="loadedFeature === 'add'"
      (featureChanged)="onNavigate($event)"
      (messageChanged)="onMessage($event)">
    </app-add-node>

    <app-edit-node
      [nodeComponent]="nodeComponent"
      [header]="'Change name of node'"
      *ngIf="loadedFeature === 'edit'"
      (featureChanged)="onNavigate($event)"
      (messageChanged)="onMessage($event)">
    </app-edit-node>

    <app-remove-node
      [nodeComponent]="nodeComponent"
      [header]="'Are you sure you want remove this node?'"
      *ngIf="loadedFeature === 'remove'"
      (featureChanged)="onNavigate($event)"
      (messageChanged)="onMessage($event)">
    </app-remove-node>

    <app-move-node
      [srcNode]="nodeComponent"
      [destNode]="destinationComponent"
      [header]="'Select destination node'"
      *ngIf="loadedFeature === 'move'"
      (featureChanged)="onNavigate($event)"
      (messageChanged)="onMessage($event)">
    </app-move-node>
  </div>
  <div class="ui horizontal divider">
    TREE
  </div>
  <div class="ui vertical menu fluid">
    <app-node (selected)="onNavigateNode($event)"
              [selectedNodeComponent]="nodeComponent"
              [ngClass]="{'hidden': loadedFeature === 'move'}"
              #main
    ></app-node>

    <app-node (selected)="onNavigateNode($event)"
              [selectedNodeComponent]="destinationComponent"
              [ngClass]="{'hidden': loadedFeature !== 'move'}"
              #dest
    ></app-node>
  </div>
</div>
