<a (click)="select()" class="item" [ngClass]="{'active' : isSelected}">
  <div>
    <i class="icon large empty" *ngFor="let item of ((node | async)?.level) | fill"></i>
    <i (click)="toggle()"
       [ngClass]="{'down': isOpen, 'right': !isOpen, 'dropdown': !(node | async)?.terminal}"
       class="icon"></i>
    <i [ngClass]="{'open': isOpen}" class="icon large folder outline"></i>
    {{(node | async)?.content.name}}
  </div>
</a>
<ng-container *ngIf="isOpen">
  <app-node [id]="item.id" *ngFor="let item of (children | async)">
  </app-node>
</ng-container>


