<div>
  <a (click)="onSelect(node)" class="item" [ngClass]="{'active': isSelected()}">
    <div>
      <i class="icon empty" *ngFor="let item of node?.level | fill"></i>
      <i (click)="toggle()"
         [ngClass]="{'down': isOpen, 'right': !isOpen, 'caret': !node?.terminal}"
         class="icon"></i>
      <div *ngIf="isLoading" class="ui mini active inline loader"></div>
      <i *ngIf="!isLoading" [ngClass]="{'open': isOpen, 'outline': !isSelected()}"
         class="icon folder"></i>
      <ng-container *ngIf="!isLoading">{{node?.content.name}}</ng-container>
    </div>
  </a>
  <ng-container *ngIf="isOpen">
    <app-node [(selected)]="selected" [node]="item" [parentComponent]="self"
              [selectedNodeComponent]="selectedNodeComponent"
              *ngFor="let item of node?.children">
    </app-node>
  </ng-container>
</div>

