<div class="container">
  <div class="ui menu">
    <a class="item"><h2>tree-editor</h2></a>
    <div class="right menu">
      <a (click)="enableAddMode()" class="item" [ngClass]="{'active': isAddState}">
        <i class="icon add"></i>
      </a>
      <a (click)="enableMoveMode()" class="item" [ngClass]="{'active': isRemoveState}">
        <i class="icon remove"></i>
      </a>
      <a (click)="enableEditMode()" class="item" [ngClass]="{'active': isEditState}">
        <i class="icon edit"></i>
      </a>
    </div>
  </div>
  <div *ngIf="isAddState">
    <div class="ui attached message">
      <div class="header">
        Add child
      </div>

    </div>
    <form class="ui form attached fluid segment" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="field">
        <label>Name</label>
        <div class="ui input raised">
          <input type="text" placeholder="Name.." required>
        </div>
      </div>

      <div (click)="addChild()" [hidden]="f.form.valid" class="ui button"
           [ngClass]="{'disabled': f.form.valid}">
        Add
      </div>
    </form>
  </div>
</div>


