<div class="ui compact fluid menu">
  <a class="item"><strong>TE</strong></a>
  <div class="ui right compact menu">
    <div data-tooltip="Add child to your tree" data-position="bottom right">
      <a (click)="onSelect('add')"
         class="item"
         [ngClass]="{'active': loadedFeature === 'add', 'inactiveLink': !isNodeSelected}"

      >
        <i class="icon add"></i>
      </a>
    </div>
    <div data-tooltip="Edit current node" data-position="bottom right">

      <a (click)="onSelect('edit')" class="item"
         [ngClass]="{'active': loadedFeature === 'edit', 'inactiveLink': !isNodeSelected }">
        <i class="icon edit"></i>
      </a>
    </div>
    <div data-tooltip="Move current node to another node" data-position="bottom right">

      <a (click)="onSelect('move')" class="item"
         [ngClass]="{'active': loadedFeature === 'move', 'inactiveLink': !isNodeSelected}">
        <i class="icon move"></i>
      </a>
    </div>
    <div data-tooltip="Remove child from your tree" data-position="bottom right">

      <a (click)="onSelect('remove')" class="item"
         [ngClass]="{'active': loadedFeature === 'remove'}">
        <i class="icon remove"></i>
      </a>
    </div>


  </div>
</div>
