<div class="ui labeled icon menu">
  <a class="item"><i class="icon"><h2>TE</h2></i></a>
  <div *ngIf="isNodeSelected" class="ui right pointing labeled icon menu">
    <div data-tooltip="Add child to your tree" data-position="bottom left">
      <a (click)="onSelect('add')"
         class="item"
         [ngClass]="{'active': loadedFeature === 'add'}"

      >
        <i class="icon add"></i>
        Add
      </a>
    </div>
    <div data-tooltip="Remove child from your tree" data-position="bottom left">

      <a (click)="onSelect('remove')" class="item"
         [ngClass]="{'active': loadedFeature === 'remove'}">
        <i class="icon remove"></i>
        Remove
      </a>
    </div>
    <div data-tooltip="Edit current node" data-position="bottom left">

      <a (click)="onSelect('edit')" class="item" [ngClass]="{'active': loadedFeature === 'edit'}">
        <i class="icon edit"></i>
        Edit
      </a>
    </div>
  </div>
</div>
