<app-action-popup [(featureChanged)]="featureChanged"
                  (messageChanged)="messageChanged"
                  [header]="header"
>
  <div class="container">
    <div class="ui vertical menu fluid">
      <app-node (selected)="onNavigateNode($event)"
                [selectedNodeComponent]="destNode"
                #dest
      ></app-node>
    </div>
    <p></p>
    <div (click)="move()" class="ui submit blue button" ngClass="{}">
      Move
    </div>
  </div>

</app-action-popup>

